@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    font-family: Avenir, '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    font-size: 1em;
    line-height: 1;
    vertical-align: baseline;
}

#starbucks{
    border: 2px solid #000;
}

a{
    text-decoration: none;
    color: #555;
}

ul{
    list-style: none;
    padding-left: 0;
}

img{
    vertical-align: top;
    max-width: 100%;
}

/* Header */
.header_wrap{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #f6f5ef;
    z-index: 9999;
}

.header_inner{
    position: relative;
    width: 1100px;
    height: 120px;
    background: #f6f5ef;
}

.logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 75px;
    height: 75px;
    
}

.logo>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../img/logo.png') no-repeat;
}

.util_nav{
    position: absolute;
    height: 20px;
    top: 15px;
    right: 93px;
}   

.util_nav>ul>li{
    float: left;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #eeeeee;
}

.util_nav>ul>li:first-child{
 border: none !important;
}

.util_nav ul>li a{
    font-size: 13px;
    line-height: 20px;
    padding: 0 15px;
}

.btn_search{
  position: absolute;
  top: 9px;
  right: 54px;
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.sub_gnb{
    position: absolute;
    top: 54px;
    height: 66px;
    width: 100%;
}

.sub_gnb_inner{
    width: 1100px;
}

.sub_gnb_inner>ul{
    float: right;
}

.sub_gnb_inner>ul>li{
    float: left; 
    text-align: center;
    height: 66px;
    padding-top: 10px;
}

.sub_gnb_inner>ul>li:first-child{
    width: 89px;
}
.sub_gnb_inner>ul>li:nth-child(2){
    width: 73px;
}
.sub_gnb_inner>ul>li:nth-child(3){
    width: 79px;
}
.sub_gnb_inner>ul>li:nth-child(4){
    width: 153px;
}
.sub_gnb_inner>ul>li:nth-child(5){
    width: 225px;
}
.sub_gnb_inner>ul>li:last-child{
    width: 131px;
}

.sub_gnb_inner>ul>li:hover{
    background: #2C2A29;
    text-decoration: underline;
    cursor: pointer;
}

.sub_gnb_inner>ul>li:hover h2>a{
    color: #669900;
    line-height: 20px;
}

.sub_gnb_inner>ul>li>h2>a{
    display: block;
    font-size: 13px;
    font-weight: normal;
    height: 56px;
    line-height: 20px;
    font-size: normal 13px Avenir, Arial, georgia;
    color: #333;

}

.gnb_sub_wrap{
    display: none;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    background: #2C2A29;
    text-align: left;
}

.gnb_sub{
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}

.gnb_sub_inner{
    position: relative;
    width: 1100px;
    background: #2C2A29;
}

.gnb_sub_inner>ul{
    float: left;
    width: 220px;
}

.gnb_sub_inner>ul>li{
    float: left;
    width: 100%;
    padding: 3px 0;
}

.gnb_sub_inner>ul>li a{
    color: #999999;
    font-size: 12px;
}

.gnb_sub_inner>ul>.sub_tit{
    padding: 3px 0 12px;
}

.gnb_sub_inner>ul>.sub_tit a{
    color: #fff;
    font-size: 14px;
}

.gnb_sub_under{
    display: inline-block;
    width: 100%;
    padding: 15px 0 40px;
    z-index: 15;
    background: url("../img/gnb_sub_txbg.jpg");
    background-repeat: repeat;
}

.under_inner{
    width: 1100px;
    clear: both;
}

.txt_left{
    float: left;
    font-size: 12px;
    margin-left: 20px;
}

.txt_left h3:first-child{
    margin-top: 25px;
}

.txt_left h3:nth-child(3){
    margin-top: 8px;
}

.txt_left h3 a{
    color: #999999;
    line-height: 18px;
}

.txt_left h3 a:hover, .gnb_sub_inner>ul>li a:hover{
    text-decoration: underline;
}

.gnb_sub_ex{
    color: #64a70b;
}

/* Header */

/* main */

.main_wrap{
    width: 100%;
    height: 645px;
    background: url('../img/main_visual_bg.jpg') no-repeat;

}

.main_inner{
    position: relative;
    max-width: 1080px;
    height: 100%;
    padding-top: 60px;
}

.main_slogan{
    max-width: 463px;
    margin-left: -4px;
}

.slogan_btn{
    display: inline-block;
    border: 1px solid #EA784C;
    border-radius: 5px;
    text-align: center;
    width: 125px;
    height: 40px;
}

.slogan_btn>a{
    width: 100%;
    height: 100%;
    color: #EA784C;
    font-size: 15px;
    vertical-align: ;
}

/* main */