@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0 auto;
}

html{
    display: block;
}

body{
    font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    vertical-align: baseline;
    overflow-x: hidden;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

ul{
    list-style: none;
    padding-left: 0;
}

div{
    display: block;
}

img{
    vertical-align: top;
    max-width: 100%;
}

#starbucks{
    position: relative;
    width: 100%;
}

/* Header */

.tablet_wrap{
    display: none;
}

.blankWrap{
    height: 120px;
}

.header_wrap{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #f6f5ef;
    z-index: 9999;
}

.header_inner{
    position: relative;
    width: 1100px;
    height: 120px;
    background: #f6f5ef;
}

.logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 75px;
    height: 75px;
}

.logo>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../img/logo.png') no-repeat;
}

.util_nav{
    position: absolute;
    height: 20px;
    top: 15px;
    right: 93px;
}   

.util_nav>ul>li{
    float: left;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #eeeeee;
}

.util_nav>ul>li:first-child{
 border: none !important;
}

.util_nav ul>li a{
    font-size: 13px;
    line-height: 20px;
    padding: 0 15px;
}

.btn_search{
  position: absolute;
  top: 9px;
  right: 54px;
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.sub_gnb{
    position: absolute;
    top: 54px;
    height: 66px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.sub_gnb_inner{
    width: 1100px;
}

.sub_gnb_inner>ul{
    float: right;
}

.sub_gnb_inner>ul>li{
    float: left; 
    text-align: center;
    height: 66px;
    padding-top: 10px;
}

.sub_gnb_inner>ul>li:first-child{
    width: 89px;
}
.sub_gnb_inner>ul>li:nth-child(2){
    width: 73px;
}
.sub_gnb_inner>ul>li:nth-child(3){
    width: 79px;
}
.sub_gnb_inner>ul>li:nth-child(4){
    width: 153px;
}
.sub_gnb_inner>ul>li:nth-child(5){
    width: 225px;
}
.sub_gnb_inner>ul>li:last-child{
    width: 131px;
}

.sub_gnb_inner>ul>li:hover{
    background: #2C2A29;
    text-decoration: underline;
    cursor: pointer;
}

.sub_gnb_inner>ul>li:hover h2>a{
    color: #669900;
    line-height: 20px;
}

.sub_gnb_inner>ul>li>h2>a{
    display: block;
    font-size: 13px;
    font-weight: normal;
    height: 56px;
    line-height: 20px;
    font-size: normal 13px Avenir, Arial, georgia;
    color: #333;

}

.gnb_sub_wrap{
    display: none;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    background: #2C2A29;
    text-align: left;
}

.gnb_sub{
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}

.gnb_sub_inner{
    position: relative;
    width: 1100px;
    background: #2C2A29;
}

.gnb_sub_inner>ul{
    float: left;
    width: 220px;
}

.gnb_sub_inner>ul>li{
    float: left;
    width: 100%;
    padding: 3px 0;
}

.gnb_sub_inner>ul>li a{
    color: #999999;
    font-size: 12px;
}

.gnb_sub_inner>ul>.sub_tit{
    padding: 3px 0 12px;
}

.gnb_sub_inner>ul>.sub_tit a{
    color: #fff;
    font-size: 14px;
}

.gnb_sub_under{
    display: inline-block;
    width: 100%;
    padding: 15px 0 40px;
    z-index: 15;
    background: url("../img/gnb_sub_txbg.jpg");
    background-repeat: repeat;
}

.under_inner{
    width: 1100px;
    clear: both;
}

.txt_left{
    float: left;
    font-size: 12px;
    margin-left: 20px;
}

.txt_left h3:first-child{
    margin-top: 25px;
}

.txt_left h3:nth-child(3){
    margin-top: 8px;
}

.txt_left h3 a{
    color: #999999;
    line-height: 18px;
}

.txt_left h3 a:hover, .gnb_sub_inner>ul>li a:hover{
    text-decoration: underline;
}

.gnb_sub_ex{
    color: #64a70b;
}

/* Header */

/* main */

.main_wrap{
    width: 100%;
    height: 645px;
    background: url('../img/main_visual_bg.jpg') no-repeat center / cover;
}

.main_inner{
    position: relative;
    width: 100%;
    max-width: 1080px;
    height: 100%;
    padding-top: 65px;
}

.main_slogan{
    position: relative;
    display: block;
    max-width: 47%;;
    margin-left: -4px;
}

.slogan_btn{
    position: absolute;
    display: inline-block;
    left: 15.5%;
    margin-top: 21px;
    width: 125px;
    height: 40px;
    text-align: center;  
    z-index: 20;
}

.slogan_btn>a{
    display: inline-block;
    border: 2px solid #EA784C;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: #EA784C;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px; 
    transition: 0.3s ease;
}

.slogan_btn>a:hover{
    background: #EA784C;
    text-decoration: underline;
    color: #fff;
}

.set_common {
    position: absolute;
    font-size: 0;
}

.set_common::after, .set_common::before{
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    z-index: 10;
}

.set_01::after{
    background-image: url('../img/main_visual_latte_tit.png');
    bottom: -17.2%;
    left: 27.5%;
    width: 50%;
    max-width: 213px;
    height: 50px;
    
}

.set_02::after{
    bottom: -25.4%;
    left: 37.5%;
    width: 51%;
    max-width: 221px;
    height: 95px;
    background-image: url('../img/main_visual_frappuccino_tit.png');
}

.set_03::after{
    bottom: -9%;
    left: 42%;
    width: 51%;
    max-width: 208px;
    height: 73px;
    background-image: url('../img/main_visual_lemonade_tit.png');
}

.set_03::before{
    right: 8%;
    top: 10%;
    width: 82px;
    height: 82px;
    background-image: url('../img/soldout_iconpng.png');
    background-size: cover;
    z-index: 0;
}

.set_common a{
    position: absolute;
}

.set_01{
    position: absolute;
    width: 40%;
    max-width: 432px;
    z-index: 15;

    bottom: 17.5%; left: 17.8%;
}

.set_02{
    width: 41%;
    max-width: 434px;
    z-index: 13;

    bottom: 29.5%; left: 38%;
}

.set_03{
    width: 39%;
    max-width: 414px;
    z-index: 11;

    bottom: 12.5%; right: 0.5%;
}

.set_01 > a{
    width: 60%;
    height: 96%;

    top: 0; left: 22%;
}

.set_02 > a{
    width: 40%;
    height: 94%;
    z-index: 11;

    top: 0; left: 44%;
}

.set_03 > a{
    width: 45%;
    height: 84%;

    top: 0; left: 47%;
}

.notice_wrap{
    position: relative;
    width: 100%;
    height: 62px;
}

.notice_left_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background: #000;
}

.notice_right_bg{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: #f6f5ef;
}

.notice_inner{
    width: 1080px;
    height: 62px;
    position: relative;
}

.left_wrap{
    position: relative;
    float:left;
    width: 58.3%;
    height: 100%;
    background: black;
    padding: 10px;
    padding: 23px;
}

.left_wrap h3{
    display: inline-block;
    font-size: 16px;
    color: #fff;
}

.news{
    position: absolute;
    
}

.news_rolling{
    position: absolute;
    width: 65%;
    left: 85px;
    top: 20px;
    display: block;
    height: 21px;
    line-height: 21px; 
    overflow: hidden;
}

.news_rolling>li{
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: 5px;
    background: #000;
    top: 21px;
}

.news_rolling>li:first-child{
    top: 0px;
}

.news_rolling>li>a{
    font-size: 14px;
    line-height: 21px; 
    color: #fff;
}

.right_wrap{
    position: relative;
    float: right;
    width: 41.7%;
    height: 100%;
    background: #f6f5ef;
    padding: 20px;
}

.notice_more{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 17px;
    width: 36px;
    height: 36px;
    background: url('../img/btn_notice_plus.png') 0 0 no-repeat;
    background-size: 35px;
}

.notice_more>a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.promotion_txt{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 13px;
    width: 234px;
    height: 36px;
    line-height: 36px;
    font-size: 1.11em;
    font-weight: bold;
}

.btn_prom>img{
    position: absolute;
    top: 0;
    right: 0;
}

.promotion_wrap{
    display: block;
    position: relative;
    max-width: 100%;
    height: 658px;
    background: #f6f5ef;
    border-top: 1px solid #f6f5ef;
}

.prom_swiper_slider{
    position: relative;
    left: 50%;
    margin-left: -550px;
    margin-top: 39px;
    width: 1100px;
    height: 553px;
    border: 1px solid #000;
}

.slider_wrap{
    margin: 0 0 60px;
}

.slider_viewport{
    position: relative;
    width: 100%;
    height: 542px;
    text-align: center;
    overflow: visible; /*모바일에선 hidden*/
}

.slider_item{
    position: relative;
    width: 515%;
    margin-left: -696px;
}

.active{
    opacity: 1 !important;
}

.slider_item>li{
    width: 819px;
    margin: 0 5px;
    float:left;
    opacity: 0.22;
}

.slider_item a{
    position: relative;
    display: block;
    border: 2px solid #222;
    border-radius: 3px;
    width: 121px;
    height: 34px;
    color: #222;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    margin: -50px auto 0;
    transition: background-color .7s, color .7s;
}

.slider_item a:hover{
    background: #222;
    color: #fff;
}

.slider_left_mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 131px;
    height: 553px;
    z-index: 10;
    border: 1px solid #000;
}

.slider_left_mask a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 2px solid #222;
    background: url('../img/arrow_left_on.png') no-repeat center center;
    transition: background-color 0.3s;
}

.slider_right_mask{
    position: absolute;
    top: 0;
    right: 0; 
    width: 131px;
    height: 553px;
    z-index: 10;
    border: 1px solid #000;
}

.slider_right_mask a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 2px solid #222;
    background: url('../img/arrow_right_on.png') no-repeat center center;
    transition: background-color 0.3s;
}

.slider_left_mask a:hover, .slider_right_mask a:hover{
    background-color: #fff;  
}

.reward_wrap{
    width: 100%;
    height: 1000px;
}

.reward_inner{
    position: relative;
    width: 100%;
    max-width: 1080px;
    height: 100%;
}


/* 반응형 */

@media screen and (max-width: 1130px){

    .main_slogan{ width: 46%; margin-left: 20px; 
    }
    .main_inner{
        padding-top: 5%;
    }
    .slogan_btn{
        left: 10%;
    }

    .set_01{ left: 13%;}
    .set_02{ bottom: 27.5%; left: 32.5%;}
    .set_03{ right: 6.5%; }

}

@media screen and (max-width: 960px){
    .set_01 { left:10%; width:40%; }
    .set_02 { left:30%; width:40%; }
    .set_03 { right:9.5%; width:38%; }
    .set_01:after { width:48% }
    .set_02:after { width:49%; }
    .set_03:after { left:41%; width:49%; }
    
}


@media screen and (max-width: 640px){

    
}

/* main */


/* 반응형 시작*/
    /* 테블릿 */
@media screen and (min-width: 641px) and (max-width: 960px){

.header_wrap{
    display: none;
}

.blankWrap{
    height: 70px;
}

.tablet_wrap{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #f6f5ef;
    z-index: 9999;
}

.tablet_inner>.logo{
    position: absolute;
    left: 10px;
    top: 10px;
    transform: none;
    width: 45px;
    height: 45px;
}

.tablet_inner>.logo>a{
    background-size: 100%;
}

.tablet_gnb_btn{
    float: right;
    width: 185px;
    height: 70px;
}

.tablet_gnb_btn>ul>li{
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px 0 0 1px;
}

.tablet_gnb_btn>ul>li>a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tablet_gnb01>a{
    width: 25px;
    height: 30px;
    background: url('../img/icon_user_m.png');   
}

.tablet_gnb02>a{
    width: 24px;
    height: 32px;
    background: url('../img/icon_spot_m.png');   
}

.tablet_gnb03>a{
    width: 28px;
    height: 26px;
    background: url('../img/btn_berger_m.png');   
}

.main_wrap{
    height: 565px;
}

}
    
@media screen and (max-width: 760px){

    .main_wrap{
        height: 485px;
    }



}
    /* 테블릿 */
/* 반응형 끝*/